# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lib
*.exe
*.sdf
*.tlog
*.log
*.pch
*.suo
*.opensdf
*.db
Debug/
Release/
x64/
# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.ipch
*.pdb
*.user
*.aps
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in*/
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
